:root {
  --button-color: #a259ff;
}

body {
  background-color: #2b2b2b;
  color: white;
}

/*! nav-bar styles*/
.title {
  font-family: "Work Sans", sans-serif;
  width: 243.41px;
  height: 32px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-bar-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-item {
  justify-self: center;
  margin: 0 10px;
  font-weight: 500;
  padding: 5px 10px;
  font-family: "Work Sans", sans-serif;
}
.logo-title {
  display: flex;
  flex-direction: row;
}

.logo {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.menu {
  padding-right: 10px;
  height: 35px;
  width: 35px;
  object-fit: cover;
}

.button {
  background-color: var(--button-color);
  border-radius: 25px;
}

/*! hero  section styles*/
.hero {
  margin: 3rem 4rem;
  column-gap: 8%;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: repeat(4);
  grid-template-areas:
    "title        card"
    "description  card"
    "button       card"
    "statistics   card";
}

.hero-card {
  background-image: url(../images/fada2.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 315px;
  justify-content: flex-end;
  width: 100%;
  grid-area: card;
}

.card-footer {
  background-color: #3b3b3b;
  border-radius: 0 0 25px 25px;
  padding: 1rem 1rem;
}

.card-footer > h3 {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.user-details {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: "Sans Work", sans-serif;
}

.user-details > p {
  font-family: inherit;
}
.user-details > img {
  border-radius: 0.75rem;
  height: 1.5em;
  margin-right: 1rem;
  width: 1.5rem;
}

.hero-button {
  margin: 1.5rem 0;
  padding: 1rem 3rem;
  width: 40%;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  font-family: "Work Sans", sans-serif;
}

.statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 3rem;
}

.stat-item > p {
  margin: 0;
}

.bold-item-st {
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
}
.small-item-st {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.hero-card {
  grid-area: card;
}
.hero > h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 67px;
  line-height: 110%;
  margin-bottom: 0;
  margin-top: 0;
}

.hero > p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  margin-top: 2rem;
  margin-bottom: 0;
}

.hero-card {
  height: 40vw;
}
/*! collections styles*/
.collections-container {
  margin: 0 4rem;
}

.collection-text-bold {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
  margin: 0;
}

.collection-text-small {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  margin: 0.5rem 0;
}

.collections {
  display: flex;
  flex-direction: row;
}

.collection {
  display: flex;
  flex-direction: column;
}

.collection-gallery {
  width: 90%;
  /* margin: 0 2rem; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.big-pic {
  grid-column: 1 / span 4;
  grid-row: 1 / span 4;
}

.pic {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-pic {
  background-color: var(--button-color);
  /* display: flex; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-pic > p {
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  /* text-align: center; */
}

.collection-footer > h3 {
  margin: 0.5rem 0;
}

.collection-footer > div {
  /* margin: 0 2rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.collection-footer > div > img {
  padding: 0;
  object-fit: cover;
  height: 25px;
  border-radius: 12.5px;
  margin-right: 1rem;
}

.collection-footer > div > p {
  margin: 0;
}
/*! creators sections styles*/
/*? header*/
.top-creators {
  margin: 4rem;
}

.creators-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.creators-header > div > h3 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  margin: 0;
}

.creators-header > div > p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  margin: 0.5rem 0;
}

.nav-button {
  padding: 1rem 2rem;
  margin: 2rem auto;
  border: 2px solid var(--button-color);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  font-family: "Work Sans", sans-serif;
}

.nav-button > img {
  width: 2rem;
  object-fit: cover;
  padding-right: 1rem;
}

/*? creators grid */
.top-creators-container {
  padding: 2rem 0;
  font-family: "Work Sans", sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.creator {
  background-color: #3b3b3b;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 1rem;
}

.creator > img {
  margin: 1rem auto;
  border-radius: 50%;
  width: 100px;
}

.creator > p {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  margin: 0;
}

.creator-sales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.creator-sales > p {
  color: #858584;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 140%;
  margin: 0;
  margin-bottom: 1rem;
}

.creator-sales > h6 {
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 140%;
  padding-left: 0.5rem;
  margin: 0;
  margin-bottom: 1rem;
}

/*! More NFTs*/
.more-nft {
  margin: 4rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
  grid-template-areas:
    "header header header header button button"
    "card1  card1  card2  card2  card3  card3"
    "card1  card1  card2  card2  card3  card3";
}

.more-nft-header {
  grid-area: header;
  /* display: flex;
  flex-direction: row; */
}

.more-nft-header > div > h6 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  margin: 0;
}

.more-nft-header > div > p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  margin: 0.5rem 0;
}
.header1 {
  grid-area: header;
  /* grid-column: 1 / 5;
  grid-row: 1 / 2; */
}

.more-nft-button {
  grid-area: button;
  /* grid-column: 5 / 7;
  grid-row: 1 / 2; */
}

.more-nft-img {
  object-fit: cover;
  width: 100%;
  border-radius: 25px;
}

.more-nft-pricing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.more-nft-pricing > div > p,
.more-nft-pricing > div > h6 {
  margin: 2px;
}

.more-nft-pricing > div > p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #858584;
}

.more-nft-pricing > div > h6 {
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
  font-size: 1.7vw;
  line-height: 140%;
}

.more-nft-card1,
.more-nft-card2,
.more-nft-card3 {
  border-radius: 25px;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 33vw;
  width: 25vw;
}

.more-nft-card1 {
  /* background-position: 0 10vw; */
  background-image: url(../images/card1.jpg);
  grid-area: card1;
}

.more-nft-card2 {
  background-image: url(../images/card2.jpg);
  /* background-position: 0 -5rem; */
  grid-area: card2;
}
.more-nft-card3 {
  background-image: url(../images/card3.jpg);
  /* background-position: 0 -1rem; */
  grid-area: card3;
}

/*! tablet*/
@media screen and (max-width: 768px)  {
  .nav-bar-items {
    display: none;
  }
  .hero > h1 {
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
  }

  .hero > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  .collection-two {
    display: none;
  }
  /*? collections*/

  .collection-text-bold {
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
  }

  .collection-text-small {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  .collection-footer > h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
  }

  .text-pic > p {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
  }

  /*? top Creators*/
  .top-creators-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }

  /* .creator-sales > p,
  .creator-sales > h6 {
    font-size: 12px;
  } */

  .top-creators {
    margin: 4rem 0;
  }

  .hide-tablet,
  .btn2 {
    display: none;
  }

  /*? More NFTS*/
  .more-nft {
    margin: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    grid-template-areas:
      "header header  header button"
      "card1  card1   card2  card2"
      "card1  card1   card2  card2";
  }

  .more-nft {
    margin: 0;
  }

  .more-nft-button {
    padding: 1vw 2vw;
    font-size: 1px;
  }

  .more-nft-card1,
  .more-nft-card2 {
    height: 50vw;
    width: 100%;
  }
  .more-nft-card3 {
    display: none;
  }

  .card-footer > h3 {
    font-size: 4vw;
  }

  .nav-button {
    font-size: 2vw;
  }
  .card-footer {
    height: 15vw;
  }

  .user-details > p {
    margin: 1.5vw;
  }
}

@media screen and (min-width: 769px) {
  .menu,
  .btn2 {
    display: none;
  }
}

/*! mobile*/
@media screen and (max-width: 480px) {
  .hero {
    margin: 1rem;
    display: flex;
    flex-direction: column;
  }

  .hero > h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
  }

  .hero > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin: 1rem 0;
  }

  .hero-card {
    height: 90vw;
  }
  .hero-button {
    width: auto;
  }

  .bold-item-st {
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
  }

  .small-item-st {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  .collection-one {
    display: none;
  }

  .collections-container {
    margin: 0 1rem;
  }

  .collection-gallery {
    width: 100%;
  }

  .hide-mobile {
    display: none;
  }

  .top-creators-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .creator-sales > p,
  .creator-sales > h6 {
    font-size: 3vw;
  }

  .btn1 {
    display: none;
  }

  .btn2 {
    display: flex;
    margin: 0;
  }
  /*? More nfts*/
  .more-nft {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 2fr);
    gap: 1rem;
    grid-template-areas:
      "header header"
      "card1  card1"
      "card2  card2"
      "button button";
  }

  .header1{
    height: 200px;
  }
}
